html {
    scroll-behavior: smooth;
}

body {
    color: #EEEEEE;
    background: #2C3333;
    font-family: "Josefin Sans", sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #C69749;
    font-size: 3em;
}

h2 {
    color: #C69749;
    font-size: 2.5em;
}

.container {
    position: relative;
    display: flex;
    margin-top: 3em;
    justify-content: center;
    justify-items: center;
}


.container div {
    text-align: center;
}

#date {
    font-size: 1.5em;
}

#contacts h2 {
    color: #EEEEEE;
    font-size: 2.5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

#contacts h2:before, #contacts h2:after {
    position: absolute;
    top: 53%;
    overflow: hidden;
    width: 50%;
    height: 3px;
    content: '\a0';
    background-color: #C69749;
}
#contacts h2:before {
    margin-left: -51%;
    text-align: right;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.links-container li {
    margin: 0 10px;
}

.links-container a {
    font-size: 3em;
    transition: transform 0.3s, color 0.3s;
    color: #0E8388;
}

.links-container a:hover {
    transform: scale(1.1);
    color: #C69749;
}

.email-container {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.email-container li {
    background-color: #C69749;
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s;
}

.email-container li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2C3333;
}

.email-container li a i {
    font-size: 1.5em;
    margin-right: 10px;
}

.email-container li:hover {
    box-shadow: 0 0 10px 5px #735F32;
}

p {
    color: #eae7dc;
}